.contactos,
.aboutus,
.login,
.register {
  background: url(assets/lacc.jpg) no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.contactos,
.aboutus,
.home {
  text-align: center;
}
