.container {
  width: 27.5vw;
  height: 35vh;
  color: black;
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: antiquewhite;
  text-align: center;
}

.formulario_register {
  width: inherit;
  height: inherit;
}